<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>URL Shortner</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="extensions/mobile/bootstrap-table-mobile.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center">--URL Shortner--</h1>
      <form action="/shortUrls" method="POST" class="my-4 form-inline">
        <input
          type="url"
          name="fullUrl"
          id="fullUrl"
          class="form-control col mr-2"
          style="margin: auto"
          placeholder="Enter URL!"
          required
        />
        <input
          type="text"
          name="name"
          required
          id="fullUrl"
          class="form-control col mr-2"
          style="margin: auto"
          placeholder="URL Name!"
        />
        <button type="submit" class="btn btn-info">SHORTENER</button>
      </form>

      <table class="table table-striped table-responsive">
        <thread
          ><tr>
            <th>URL Name</th>
            <th>Short URL</th>
            <th>Original URL</th>
          </tr></thread
        >
        <tbody>
          <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><%= shortUrl.name %></td>
            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
